*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.title{
	background-color: rgb(16, 155, 97);
	height: 1.3em;
	color: #FFF;
	text-align: center;
	font-size: 3em;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

table{
	background-color: rgb(235, 221, 177);
	width: 80%;
	margin: 0 auto;
	margin-bottom: .7em;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid rgb(131, 47, 47);
	text-align: center;
	color: rgb(172, 43, 43);
}

th{
	font-weight: bold;
	background-color: #EEE;
}

.green-active {
	background-color:rgb(16, 155, 97);;
	border-radius: 500px;    
  }
  